/* ESTILOS GLOBALES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header,
section,
main,
nav,
footer,
article,
figure,
hgroup {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
    outline: none;
    transition: .4s all ease-in-out;
}

li {
    list-style: none;
}

footer {
    align-self: flex-end;
    width: 100%;
}
h1, h2, h3 {
    font-weight: 700;
    color: #000000;
}
h4,
h5,
h6,
p {
    font-weight: 400;
    color: rgb(117, 104, 104);
}

.container {
    max-width: 1200px;
    width: 100%;
}
.container-main {
    position: relative;
    max-width: 1200px;
    width: 100%;
}

.img-responsive {
    max-width:100%;
    width: 50%;
}


/* HEADER */

.header-home {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

/* MAIN MENU  */

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logotipo {
    height: 50px;
    width: 50px;
}

.menu-link-desktop {
    display: flex;
    align-items:center;
    justify-content: center;
}

.menu-link-mobile {
    display: none;
}

.links-menu {
    padding: 0 16px;
    line-height:70px;
    height:70;
    display: block;
    color: white;
}

.links-menu:hover:not(.cta-btn) {
    box-shadow: 0 -5px 0 0 white inset;
}

.cta-btn {
    font-weight: bold;
    background-color: #99ff0000;
    line-height:40px;
    height:40px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cta-btn:hover, .btns:hover {
    transform: scale(.95);
}

/* HERO */

.hero {
    text-align: left;
    padding: 0 32px;
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url(../images/dishOnWhiteCeramicPlate.png);
}
.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.headline_hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;

    position: absolute;
    width: 779px;
    height: 250px;
    left: 138px;
    top: 180px;
}

.title-hero, .description-hero, .description-open {
    color: #ffffff;
}

.first-title {
    font-weight: 300;
    display: block;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.title-hero {
    margin-bottom: 20px;
    line-height: 55px;
    font-style: normal;
    font-weight: 700;
    font-size: 148px;
    line-height: 152px;
}
.description-hero {
    font-weight: 700;
    opacity: .7;
    line-height: 48px;
}

.image-hero {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    margin-top: 4rem;
}
.open-time {
    position: absolute;
    width: 500px;
    height: 192px;
    left: 1400px;
    top: 650px;
}
.description-open {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
}
.division{
    width: 54%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 30%;
    bottom: 55.21%;

    border: 2px dashed #FFFFFF;
}
.division-right{
    width: 20%;
    position: absolute;
    left: 95%;

    border: 2px dashed #030303;
}
.image-main{
    position: absolute;
    left: 200px;

}
.text-right{
    text-align: right;
}

/* BOTONES */

.btns {
    background-color: #ffffff00;
    line-height:65px;
    height:65px;
    padding:  0 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* SECTION PAGE GENERIC */

.section-page {
    padding:4rem 0;
    overflow:hidden;
}

.title-section {
    font-size: 45px;
    margin-bottom: 3rem;
}
.subtitle-section {
    font-size: 25px;
    margin-bottom: 3rem;
}

/* CONTACTO SECTION */

.section-contact {
    background-image: url(../images/img-footer.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 350px;
}

.form-landing-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 720px;
    width: 100%;
    margin: auto;
}

.form-landing-page .input-field {
    width: 50%;
    margin-bottom: 2rem;
    padding: 0 .75rem;
    min-height: 1px;
}
.form-landing-page .input-field:nth-of-type(5) {
    width: 100%;
    margin-bottom:1.4rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input.error, textarea.error {
    box-shadow: 0 20px 40px -20px rgba(255, 30, 0, 0.5);
    border: 1px solid #ff0000;
    color: #ff0000;
}

textarea.textarea-form {
    min-height: 150px;
    max-width: 625px;
    padding:1rem 2rem
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color:#9c9c9c;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #9c9c9c;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #9c9c9c;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #9c9c9c;
}

button.btn-enviar {
    border: none;
    margin-left: 1rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    transition: .4s all;

}

button.btn-enviar:focus,
.btns:focus {
    background: #4E73DF;
    transform: scale(1);
}


/* FOOTER */
.footer {
    padding: 2rem 1rem;
    background-color: #444;
}

.footer .copy {
    font-size: 12px;
    width: 100%;
}
.footer .copy a {
    color: #bbbbbb;
    box-shadow: 0 1px 0 #bbbbbb;
}
.footer .copy a:hover {
    color: white;
}

/******** RESPONSIVE DESIGN ********/

@media screen and (max-width: 1024px) {
    /* HERO MOBILE */
    .title-hero {
        font-size:30px;
        line-height:45px;
    }
}

@media screen and (max-width: 768px) {
    /* MOBILE MENÚ */
    .logotipo {
        text-align: center;
        margin: auto;
        padding: 1rem 0;
        width: 100%;
    }
    .logotipo img {
        position: relative;
        top: 5px;
        width: 50 px;
        height: 50 px;
    }
    .menu-link-desktop {
        display: none;
    }
    .menu-link-mobile {
        display: flex;
        justify-content:center;
        align-items:center;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #4E73DF;
        width: 100%;
        box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .links-menu {
        font-size: 14px;
    }
    .cta-btn {
        line-height: 35px;
        height: 35px;
    }
 
    /* ENTRADAS SECTION */
    .section-contact {
        background-position-y: 550px;
    }
    .form-landing-page {
        width: 90%;
    }
    .form-landing-page .input-field {
        width: 100%;
        padding:0;
    }
    textarea.textarea-form {
        width: 80%;
        background-color: rgba(255, 255, 255, 0.8);
    }
    button.btn-enviar {
        width: 100%;
        margin-left: 0;
    }

    /* BTNS */
    .btns {
        max-width: 100%;
    }  
    
    /* HERO */
    .hero .container {
        flex-wrap: wrap;
        padding-top: 6rem;
    }
    .title-hero {
        font-size:30px;
        line-height:45px;
    }
    .image-hero {
        margin-top: 2rem;
    }

}
@media screen and (max-width: 425px) {
    .footer .copy {
        padding-bottom: 4rem;
    }
    .section-services .container .box-services {
        width: 100%;
    }
}
